@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* ##################################   NAVBAR    ##################################### */

.section_1{
    background-image: radial-gradient(at right bottom, #1c73ff 12%, #00cbff 100%);
    height: 94vh;
}


.ExtraClasslogo{
    background: #ffffff;
    padding: 0.7rem;
    font-weight: bold;
    font-family: inherit;
    border-radius: 0.3rem;
}

.loginbtn{
    width: 5rem;
    font-family: 'Open Sans', sans-serif ;
    border-radius: 1.5rem;
    background-color: #ffffff;
    border: none;
    height: 2.3rem;
    font-size: 1.3rem;
    outline: none !important;
}



.loginbtn2{
    width: 18rem;
    font-family: 'Open Sans', sans-serif ;
    padding: 0.2rem;
    border-radius: 1.5rem;
    background-color: #ffffff;
    border: none;
    font-size: 1.3rem;
    outline: none !important;
    margin-left: 1rem;
}





.cont1st{
    height: 40rem; 
    width: 50%;

}



.Heading1{
    color: white;
    font-size: 4.7rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif ;

}


.Heading2{
    color: white;
    font-size: 4.7rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif ;

}


.Heading3{
    color: white;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif ;

}

.StartHead{
    color: #007aff;
}

.Start2Head{
    color: #007aff;
}

.StartBtn{
    width: 10rem;
    border-radius: 2rem;
    padding:0.4rem 0rem;
    outline: none;
    background: #007aff;
    border: none;
}

.StartBtn a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
}


.Section_5{
    background-color: #0669fd;
}

.MappingHeading{
    font-family: 'Open Sans', sans-serif ;
    color: white;
}

.MappingHeading2{
    color: white;
    font-family: 'Open Sans', sans-serif ;

}

.MappingBtn{
    width: 10rem;
    border-radius: 2rem;
    padding:0.4rem 0rem;
    outline: none;
    border: none;
}


.MappingBtn a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 183, 255);
    font-family: sans-serif;
}


.Section_6{
    background-color: #007aff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.userImg{
    width: 5rem;
    height: 5rem;
}

.class_review{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

.review_color{
    color: white;
}


.Section_7{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif ;

}

.Section_7Part2{
    font-family: 'Open Sans', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 2rem;
    width: 100%;
}



.Section_8_img1{
    height: 12rem;
    width: 20rem;
}

.Section_8_img2{
    height: 5rem ;
    width: 18rem;
}


.Section_7_head{
    color: #007aff;
}





.Section_10{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif ;
}




.ListAnchor{
    color: black;
    font-family: sans-serif;
}




.ListAnchor a{
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}



.list-group li{
    background: #cecece60;
}


.Section_10_link{
    text-decoration: none;
    color: blue;
    font-size: 1.5rem;
}








.Footer_Main_box{
    background:#191a1b ;
    height: 50vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}




.FooterLinkColor{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.FirstTextFooter li,.SecondTextFooter li,.ThirdTextFooter li{
    list-style: none;
}




.end_footer{
    background: #000000;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.FooterLinkColor{
    cursor: pointer;
}


.icons_footer{
    margin-top: -1rem;
    color: white;
}

.icons_footer i{
    padding: 0 0.5rem;
}



.logoFooter {
    height: 4rem;
    width: 5rem;
    color: white;
}

.logoFooter h6{
    background: #0B1EE6;
    font-size: 0.9rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem 0.7rem 0 0;
}

.logoFooter p{
    font-size: 0.7rem;
    font-weight: 300;
    background: white;
    color: #0B1EE6;
    position: relative;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1rem;
    border-radius: 0 0 0.7rem 0.7rem;
}











/* *****************************************************Faq css********************************* */




.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none;
    background: #ffffff;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #ff5353;
  }
  .accordion a:hover::after {
    border: 1px solid #ff5353;
  }
  .accordion a.active {
    color: #ff5353;
    border-bottom: 1px solid #ff5353;
  }
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /* border: 1px solid #7288a2; */
    text-align: center;
  }
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #ff5353;
    /* border: 1px solid #ff5353; */
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }




  /* *****************************************************Faq css******************************************** */




.rounded {
    border-radius: 2.25rem!important;
}


.pavandev{
    width: 20rem;
    height: 10rem;
}



.faqHead{
    font-weight: bold;
    font-size: 3rem;
    margin-top: -17rem;
}


















.Section200{
    width: 60%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Open Sans', sans-serif;
    border-radius:1rem;
    color: white;
    background:  radial-gradient(at right bottom, #1c73ff 12%, #00cbff 100%);

}

.Section200_div2{
    display: flex;
    align-items: center;
    justify-content: center;

}

.joinNowBtn{
    background: white;
    color: blue;
    padding:0.3rem 1rem ;
    position: relative;
    left: -3rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.4rem;
    border: none;
}



.FaqModalText{
    color: white;
    background: #007aff;
    font-family: 'Open Sans', sans-serif;

}
















/* ********************************** Login   Modals   *************************** */
.Modal-google{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #007aff;
    color: white;
    padding: 0.5rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.Or_sider{
    position: relative;
    top: -1.8rem;
    left: 14rem;
    background: white;
    width: 2rem;
    text-align: center;
}


.Login_para{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login_para a{
    color: black;
    
}

/* **********************************login   Modals        *************************** */




.Faq_input{
    display: flex;
   
}

.Faq_submit{
    outline: none;
    background: #007aff;
    color: white;
    padding-left:1rem;
    padding-right: 1rem;
}


.closebtn_faq{
    outline: none !important;
}




.Select_class-option1,.Select_class-option2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}


.Btn_select_editz{
    border: none;
    outline: none;
    height: 2rem;
    width: 4rem;
    background: #65a7e48f;
    font-weight: bold;
    border-radius: 0.5rem;
    font-family: 'Open Sans';
}





.login_btn{
    padding-bottom: 2.3rem ;
}


.SigninBtn{
    padding: 0.3rem 0;
}



















































/* ##########################################   MEDIA QUERIES #################################### */



 /* X-Small devices (portrait phones, less than 576px) */
 /* No media query for `xs` since this is the default in Bootstrap */

 @media only screen and (min-width: 200px) and (max-width:576px) { 


    .navbar{
        background:#ffffff ;
    }
    
    
    .Section_8{
        height: 110vh;
        width: 100%;
    }



    
    .section_1{
        height: 135vh;
    }

    .setupBox{
        position: relative;
        top: 3rem;
        width: 100%;
    }


.img_sizer2{
    height: 5rem;
}

.img_sizer3{
    height: 2rem;
    position: relative;
    top: -0.5rem;
}


.Heading1{
    font-size: 1rem;      
}
.Heading2{
    font-size: 1rem;
}

.Heading3{
    font-size: 1rem;
}
.Section_2_header{
    font-size: 0.5rem;
    text-align: center;
}
    

.SigninBtn{
    position: relative;
    left: -0.5rem;
    width: 13rem;
    top: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    display: block;
    margin: auto;
}

.login_btn{
    position: relative;
    top: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    display: block;
    margin: auto;
}

.ExtraClasslogo{
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    margin: auto;
}


.rounded{
    width: 100%;
}


.Section_4{
    height: 37rem;
}

.Section_5{
    height: 47rem;
}


.Section_6{
    height: 97rem;
}



.Section_7{
    font-size: 0.5rem;
    text-align: center;
    height: 10rem;
}

.Section_7Part2{
    font-size: 0.5rem;
    text-align: center; 
}


.Section_8_img1{
    height: 7rem;
   width: auto;
   margin: auto;
}

.Section_8_img2{
   height: 3rem;
   width: auto;
    position: relative;
    left: 2rem;
    top: -2rem;
}




.Section_10_link{

    position: relative;
    left: 1rem;
    top: 1rem;
    font-size:1rem ;
}


.Section200{
    height: 100vh;
    position: relative;
    top: 35rem;
    left: 2rem;
    width: 74%;
}


.girl_img{
    height: 23rem;
    position: relative;
    left: 2rem;
    top: 9.2rem;
    visibility: hidden;
}

.login_footer{
    position: relative;
    top: 6rem;
    width: 8rem;
}

.joinNowBtn{
    position: relative;
    top: 7rem;
    width: 8rem;
    left: 4rem;
}

.Section_10{
    position: relative;
    top: 15rem;
    height: 20vh;
}

.Size_adjust_karna_hai{
    position: relative;
    top: -2rem;
}

.Size_adjust_karna_hai{
    font-size: 0.4rem;
}

.lastFooterUpperHeads{
    position: relative;
    left: -1rem;
}

.imgSizer{
    height: 15rem;
    position: relative;
    left: 5rem;
    top: -50rem;
    margin: auto;
}
.setKarnaHai{
    position: relative;
    top: -4rem;
}

    
.Footer_Main_box{
    height: 155vh;
}
    
.faqHead{
    font-size: 1rem;
    text-align: center;
}

.ThirdTextFooter{
    position: relative;
    left: -10rem;
}
.Size_adjust_karna_hai{
    width: 200%;
    text-align: center;
}

.end_footer{
    height: 5rem;
}
    
.FirstTextFooter{
    visibility: hidden;
}
.SecondTextFooter{
    text-align: center;
    position: relative;
    left: -4rem;
}



.ThirdTextFooter{
    display: flex;
    position: relative;
    top: 7rem;
    left: -7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



}






























/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width:768px) { 

    
  
    .navbar{
    background:#ffffff ;
    }

    .section_1{
        height: 150vh;
    }

    .setupBox{
        position: relative;
        top: 22rem;
        left: 10rem;
    }


.img_sizer2{
    height: 7rem;
}

.img_sizer3{
    height: 3rem;
    position: relative;
    top: -0.7rem;
}

.Heading1{
    font-size: 3rem;    
    width: 200%;
    text-align: center;
}
.Heading2{
    font-size: 2.3rem;
    width: 200%;
    text-align: center;
}

.Heading3{
    font-size: 1.6rem;
    width: 200%;
    text-align: center;
}
    

.SigninBtn{
    position: relative;
    left: 16rem;
    width: 14rem;
    top: -3.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

.login_btn{
    position: relative;
    left: 16rem;
    top: -3.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

.ExtraClasslogo{
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}


.rounded{
    width: 100%;
}


.Section_4{
    height: 50rem;
}

.Section_5{
    height: 55rem;
}


.Section_6{
    height: 64rem;
}

.Section_8_img1{
    position: relative;
    left: 8.5rem;
}

.Section_8_img2{
    position: relative;
    left: 9rem;
}




.Section_10_link{

    position: relative;
    left: 1rem;
    top: 1rem;
}


.Section200{
    height: 50vh;
    position: relative;
    top: 30rem;
    left: 7rem;
}


.girl_img{
    height: 23rem;
    position: relative;
    left: 22rem;
    top: 9.2rem;
    visibility: hidden;
}

.login_footer{
    position: relative;
    left: 12rem;
    top: 1rem;
    width: 14rem;
}

.joinNowBtn{
    position: relative;
    left: -2rem;
    top: 4rem;
    width: 14rem;
}

.Section_10{
    position: relative;
    top: 15rem;
    height: 20vh;
}

.Size_adjust_karna_hai{
    position: relative;
    top: -2rem;
}


.imgSizer{
    height: 40rem;
    position: relative;
    top: -5.8rem;
    left: -10rem;
}
.setKarnaHai{
    position: relative;
    top: -4rem;
}

    
.Footer_Main_box{
    height: 85vh;
}
    
.faqHead{
    font-size: 2rem;
}

.ThirdTextFooter{
    position: relative;
    left: -4rem;
}
.Size_adjust_karna_hai{
    width: 200%;
    text-align: center;
}
 }





























/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) { 
  
   

.navbar{
    background:#ffffff ;
}



.img_sizer2{
    height: 7rem;
}

.img_sizer3{
    height: 3rem;
    position: relative;
    top: -0.7rem;
}

.Heading1{
    font-size: 2.3rem;    
}
.Heading2{
    font-size: 2.3rem;
}

.Heading3{
    font-size: 1.6rem;
}
    

.SigninBtn{
    position: relative;
    left: 26rem;
    width: 14rem;
    top: 1rem;
}

.login_btn{
    position: relative;
    left: 26rem;
    top: 1rem;

}

.rounded{
    width: 100%;
}


.Section_4{
    height: 65rem;
}

.Section_5{
    height: 80rem;
}


.Section_6{
    height: 64rem;
}

.Section_8_img1{
    position: relative;
    left: 12rem;
}

.Section_8_img2{
    position: relative;
    left: 17rem;
}




.Section_10_link{

    position: relative;
    left: 10rem;
    top: 1rem;

}


.Section200{
    height: 40vh;
    position: relative;
    top: 30rem;
    left: 10rem;
}


.girl_img{
    height: 23rem;
    position: relative;
    left: 28rem;
    top: 9.2rem;
}

.login_footer{
    position: relative;
    left: 18rem;
    top: 3rem;
}

.joinNowBtn{
    position: relative;
    left: 5.3rem;
    top: 3rem;
    width: 7rem;
}

.Section_10{
    position: relative;
    top: 15rem;
    height: 20vh;
}

.Size_adjust_karna_hai{
    position: relative;
    top: -2rem;
}


.imgSizer{
    height: 40rem;
    position: relative;
    top: 1.8rem;
}
.setKarnaHai{
    position: relative;
    top: -4rem;
}


}




























/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200px) { 


    html{
        font-size: 100%;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
        padding:0rem 1rem;
        font-size: 1.2rem;
        font-weight: 600;     
    }
       
    .TotalElement{
    position: relative;
    top: 1.3rem;
    }





.img_sizer2{
    height: 11rem;
}

.img_sizer3{
    height: 5rem;
    position: relative;
    top: -1rem;
}

.Heading1{
    font-size: 3rem;    
}
.Heading2{
    font-size: 3rem;
}

.Heading3{
    font-size: 2rem;
}
    

.SigninBtn{
    position: relative;
    left: 40rem;
    width: 14rem;
}

.login_btn{
    position: relative;
    left: 40rem;
}

.rounded{
    width: 70%;
}


.Section_4{
    height: 40rem;
}

.Section_5{
    height: 30rem;
}

.Section_6{
    height: 30rem;
}

.Section_8_img1{
    position: relative;
    left: 12rem;
    top: -2.4rem;
}

.Section_10_link{

    position: relative;
    left: 20rem;
    top: 1rem;

}


.Section200{
    height: 40vh;
    position: relative;
    top: 30rem;
    left: 15rem;
}


.girl_img{
    height: 24rem;
    position: relative;
    left: 40rem;
    top: 8.3rem;
}

.login_footer{
    position: relative;
    left: 25rem;
    top: 1rem;
}

.joinNowBtn{
    position: relative;
    left: 12rem;
    top: 0.9rem;
    width: 7rem;
}

.Section_10{
    position: relative;
    top: 15rem;
    height: 20vh;
}

.imgSizer{
    height: 46rem;
    position: relative;
    top: 1.3rem;
}

.ExtraClasslogo{
    position: relative;
    left: 3rem;
    top: 2rem;
}

.Size_adjust_karna_hai{
    position: relative;
    top: -1rem;
}


 }












































/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1400px) { 
    
    
    html{
        font-size: 100%;
    }


.ExtraClasslogo{
    background: #ffffff;
    padding: 0.4rem 0.7rem;
    font-family: inherit;
    font-weight: 600;
    position: relative;
    top: 1.2rem;
    left: 2rem;
    width: 14rem;
    font-size: 1.6rem;
}



    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
        padding: 0rem 1rem;
        font-size: 1.2rem;
        font-weight: 600;
    
    }
    
    .Heading1{
        position: relative;
        left: 3.1rem;
    }
    
    .Heading2{
        position: relative;
        left: 1.5rem;
    }

    .Heading3{
        position: relative;
        left: 0.5rem;
    }

    .TotalElement{
    position: relative;
    top: 1.3rem;
    }

    .loginbtn{
    margin-top: -0.2rem;   

    }


    
.imgSizer{
    height: 50rem;
    margin-top: -0.3rem;
}

.img_sizer2{
    width: 14rem;
    height: 10rem;
}


.img_sizer3{
    width: 14rem;
    height: 4.2rem;
    position: relative;
    top: -1rem;
}



.SigninBtn{
    position: relative;
    left: 53rem;
    width: 14rem;
}

.login_btn{
    position: relative;
    left: 53rem;
}

.rounded{
    width: 70%;
}

.Section_4{
    height: 40rem;
}

.Section_5{
    height: 30rem;
}

.Section_6{
    height: 30rem;
}

.Section_8_img1{
    position: relative;
    left: 20rem;
    top: -2.4rem;
}

.Section_10_link{

    position: relative;
    left: 30rem;
    top: 1rem;

}


.Section200{
    height: 40vh;
    position: relative;
    top: 30rem;
    left: 17rem;
}

.girl_img{
    height: 24rem;
    position: relative;
    left: 46rem;
    top: 8.3rem;
}

.login_footer{
    position: relative;
    left: 28rem;
    top: 1rem;
}

.joinNowBtn{
    position: relative;
    left: 14rem;
    top: 0.9rem;
    width: 8rem;
}

.Section_10{
    position: relative;
    top: 15rem;
    height: 20vh;
}

}































/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) and (max-width:3000px) { 

    .Heading1{
        position: relative;
        left: 6.1rem;
    }
    .Heading2{
        position: relative;
        left: 3.5rem;
    }
    .Heading3{
        position: relative;
        left: 3.1rem;
    }
    
.ExtraClasslogo{
    background: #ffffff;
    padding: 0.4rem 0.7rem;
    font-family: inherit;
    font-weight: 600;
    position: relative;
    top: 1.2rem;
    left: 9rem;
    width: 14rem;
    font-size: 1.6rem;
}

.loginbtn{
    margin-top: -0.2rem;   
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;    
    padding:0rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.TotalElement{
    position: relative;
    top: 1.3rem;
    right: 13rem;
}

.loginbtn{
    margin-top: -0.4rem;
    margin-left: 0.7rem;
}


.imgSizer{
    height: 47rem;
    margin-top: -2.9rem;
}

.img_sizer2{
    width: 14rem;
    height: 10rem;
}


.img_sizer3{
    width: 14rem;
    height: 4.2rem;
    position: relative;
    top: -1rem;
}

    .setupBox{
        position: relative;
        top: 3.5rem;
    }

    .section_3{
        height: 70vh;
    }

    .class_2{
        height: 31.8rem;
        width: 23rem;
        border-radius: 1rem;
    }

    .para{
        color: #868686;
        font-size: 0.9rem;
    }




    .Section_4{
        width: 100%;
        height: 85vh;
    }

    .imgSizePage3{
        height: 30rem;
        width: 30rem;
    }



    .Section_5{
        width: 100%;
        height: 85vh;
    }

    .Section_6{
        width: 100%;
        height: 70vh;
    }


    .Section_8{
        height: 80vh;
        width: 100%;
    }

    .Section_8_img1{
        position: relative;
        left: 28rem;
        top: -2.3rem;
    }
    .LaptopImg{
        margin-top: -12rem;
    }

    .Section_9{
        height: 30vh;
        width: 100%;
        
    }

    .SecondTextFooter{
        position: relative;
        left: 20rem;
    }

    .Section200{
        position: relative;
        top: 8rem;
        left: 22rem;
    }

    
    .girl_img{
    height: 25rem;
    margin-top: -25rem;
    position: relative;
    left: 60rem;
    top: 9.4rem;
    }

    .Section_10{
        position: relative;
        top: 10rem;
    }
    





    .SigninBtn{
        position: relative;
        left: 63rem;
        top: -1.6rem;
        width: 16rem;
    }

    .login_btn{
        position: relative;
        left: 63rem;
        top: -1.5rem;
    }

.Section_10_link{
    position: relative;
    left: 31rem;
    top: 2rem;
}


.faq_Girl_img{
    position: relative;
    top: 1.7rem;
    height: 23.3rem;
}

.Faq_submit{
    position: relative;
    left: 3.5rem;
}

.login_footer{
    position: relative;
    left: 29rem;
    top: -1.5rem;
}

.joinNowBtn{
    position: relative;
    left: 17rem;
    top: -1.7rem;
}

.FaqModalText{
    position: relative;
    top: -2.5rem;
    left: -0.3rem;
}



.FaqModal_box{
    width: 120%;
    height: 32.7rem;
}

.closebtn_faq span{
    position: relative;
    left: 18rem;
}

.faq_Girl_img{
    position: relative;
    top: 2.1rem;
}

.Faq_image_text1,.Faq_image_text2{
    position: relative;
    top: 2rem;
}
.faq_input_2_style{
    position: relative;
    left: -0.6rem;
}
.Faq_submit{
    position: relative;
    left: 7rem;
    border: none;
}

 }
